.createTask {
    width: 220px;
    min-height: 150px; 
    border-radius: 20px;
    transition: all 0.2s ease; 
    display: inline-block; 
    vertical-align: top; 
    overflow: hidden;
    border: 5px dashed rgba(0, 81, 0, 0.377);
    border-radius: 10px;
    margin: 10px;
}

.createTask:hover {
    transition-duration: 100ms;
    transform: scale(0.95);
    cursor: pointer;
}

.plus {
    width: 50px;
    margin-left: 85px;
    margin-top: 50px;
}